body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ececec;
}

.container-app {
  margin-top: 22px;
}

.calculator {
  height: auto;
  width: 350px;
  margin: 0 auto;
  padding: 23px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 3px 1px 24px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 1px 24px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 1px 24px -9px rgba(0, 0, 0, 0.75);
}

#screen {
  width: 95%;
  margin-bottom: 10px;
  padding: 20px 0 20px 0;
  font-size: 40px;
  text-align: right;
  padding-right: 5%;
  text-indent: 10px;
}

#screen::placeholder {
  padding-right: 20px;
}

#screen:focus {
  caret-color: #000;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

button {
  width: 80px;
  height: 70px;
  margin: 5px;
  font-size: 20px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d4d4d4;
}

button:active {
  background-color: #bfbfbf;
}